/* Font Definition */
@font-face {
    font-family: 'Unifont';
    src:  url('fonts/Unifont.woff') format('woff'),
          url('fonts/Unifont.svg#Unifont') format('svg'),
          url('fonts/Unifont.eot'),
          url('fonts/Unifont.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/* Non-specific */

body {
    color: #AAA;
    background: #000;
    font-family: 'Unifont', monospace;
    font-size: 20px;
}

h1 {
    font-size: 26px;
    color: #f7c500;
}

a, a:visited, a:active {
    color: #11a511;
    text-decoration: none;
}

a:hover {
    color: #f7c500;
    text-decoration: underline;
}

.center {
    float: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container, .nav-container {
    margin: 0 auto;
    width: 1000px;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    background: rgba(0, 0, 0, 0.50);
    box-shadow: 0 0 20px #000;
}

.container {
    display: flex;
    flex-direction: column;
}

.nav-container {
    display: flex;
    flex-direction: row;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
    background-color: #000;
    border-top: 1px solid #555;
    font-size: 12px;
}

/* Navigation */

#navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 10%;
    width: 100%;
    background-color: #000;
    border-bottom: 1px solid #555;
}

#navbar button {
    padding: 15px;
    border: none;
    font-family: 'Unifont', monospace;
    font-size: 25px;
}

#navbar button, #navbar button:visited {
    color: #11a511;
    background: none;
    text-decoration: none;
}

#navbar button:hover, #navbar button:active, #navbar button.active {
    color: #f7c500;
    background: none;
    text-decoration: underline;
}

.metal-horns {
    margin: 0 25px;
    color: #8d0808;
    font-size: 30px;
    display: block;
}

/* Sections */

section {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 10%;
    width: 100%;
    height: 85%;
}

.section-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
}

.section-div li {
    margin: 15px 0px;
}

.section-text {
    width: 90%;
}

.section-bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}

#rpg, #book, #album, #contact {
    background-size: cover;
    background-position: center;
}

#rpg {
    display: block;
    background-image: url('../images/game_bg.jpg');
}

#book {
    display: none;
    background-image: url('../images/book_bg.jpg');
}

#album {
    display: none;
    background-image: url('../images/album_bg.jpg');
}

#contact {
    display: none;
    background-image: url('../images/contact_bg.jpg');
}

/* Captcha Form */

#captcha {
    margin: 0;
}

#form-space {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: flex-start;
}

#form-space h4 {
    padding: 25px;
    color: #8d0808;
    font-size: 22px;
    background: rgba(0, 0, 0, 0.45);
}

#form-space small {
    color: #555;
}

form input {
    height: 76px;
    width: 303px;
    border-radius: 3px;
    border: 1px solid #555;
    font-size: 18px;
    font-family: 'Unifont', monospace;
}

form input, form input:visited, form input:active {
    background: #222;
    color: #11a511;
}

form input:hover {
    background: #000;
    color: #f7c500;
    text-decoration: underline;
}

.code {
    padding: 15px;
    width: 415px;
    height: 150px;
    background: #222;
    border-radius: 3px;
    border: 1px solid #555;
    font-size: 18px;
    color: #AAA;
    line-height: 15px;
}

/* Responsive Design Stuff */

@media (min-width: 650px) and (max-width: 999px) {
    body {
        color: #CCC;
        font-size: 16px;
    }

    h1 {
        font-size: 24px;
    }

    .container, .nav-container {
        width: 650px;
    }

    #navbar button {
        line-height: 20px;
        font-size: 18px;
    }

    .section-bg {
        background: rgba(0, 0, 0, 0.65);
    }

    .ssh {
        height: 75px !important;
    }

    .download {
        height: 150px !important;
    }

    #form-space {
        width: 100%;
        height: 400px;
        flex-direction: column;
    }
}

@media (max-width: 649px) {
    body {
        color: #CCC;
        font-size: 12px;
    }

    h1 {
        font-size: 20px;
    }

    .nav-container {
        width: 375px;
        overflow: hidden;
    }

    .container {
        width: 375px;
        overflow: auto;
    }

    #navbar button {
        line-height: 20px;
        margin: 0;
        font-size: 14px;
    }

    .section-bg {
        background: rgba(0, 0, 0, 0.65);
    }

    .section-div li {
        margin: 8px 0px;
    }

    #form-space h4 {
        font-size: 16px;
        text-align: center;
    }

    #form-space {
        width: 100%;
        height: 350px;
        flex-direction: column;
    }

    .metal-horns {
        display: none;
    }

    .ssh {
        height: 70px !important;
    }

    .download {
        height: 150px !important;
    }

    .code {
        padding: 10px;
        width: 335px;
        font-size: 14px;
    }
}

@media (max-height: 749px) {
    h1 {
        font-size: 18px;
    }

    #features {
        display: none;
    }
}