body {
    color: white;
    background: black;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 10px;
}

h1 {
    color: yellow;
}

h5 {
    font-size: 8px;
}

footer li {
    list-style: none;
    display: inline;
}

form {
    margin: 0 auto;
    width: 700px;
    height: 75px;
    clear: both;
}

form input {
    height: 75px;
    width: 325px;
    border-radius: 3px;
    border: 1px solid #555;
    font-size: 10px;
}

form input, form input:visited, form input:active {
    background: #222;
    color: yellow;
}

form input:hover {
    background: #000;
    color: green;
}

.left {
    float: left;
}

.right {
    float: right;
}

#captcha {
    margin: 0;
}

#header-logo {
    margin: -35px 0px 0px 0px;
    height: 100px;
    background: black;
}

#nav-links li {
    padding: 10px;
    margin: 25px 20px 0px 0px;
    font-size: 12px;
}

#nav-links a, #nav-links a:visited, #nav-links a:active {
    padding: 10px;
    color: green;
    background: #222;
}

#nav-links a:hover {
    padding: 10px;
    color: yellow;
    background: #000;
}

.navbar {
    background-color: black;
}

.intro-section {
    background-image: url('../images/universe_header_dark.png');
    background-size: cover;
}

.about-section {
    background-image: url('../images/gameplay_bg.jpeg');
    background-size: cover;
}

.services-section {
    background-image: url('../images/download_bg.jpg');
    background-size: cover;
}

.contact-section {
    background-image: url('../images/contact_bg.jpg');
    background-size: cover;
}

.pxmargin {
    margin: 20px 0px;
}

.section-div {
    margin: 20px 0px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.45);
}

.section-div li {
    margin: 10px 0px;
}

.section-div h1 {
    margin: 20px 0px;
}

#logo {
    margin: 0px 0px 30px 0px;
}

.left-text {
    text-align: left;
    width: 75%;
    margin: 30px auto;
}

#into {
    margin: 25px 0px 0px 0px;
}